@import "tailwindcss";

@theme {
  --color-wood: #5D4037;
  --color-paper: #F5E6C8;
  --color-stamp: #D32F2F;
  
  --font-serif: 'Georgia', serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2e2622; 
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://www.transparenttextures.com/patterns/dark-wood.png");
  background-attachment: fixed; 
  color: var(--color-paper); 
  font-family: var(--font-serif);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #2a1d18;
}
::-webkit-scrollbar-thumb {
  background: var(--color-wood); 
  border-radius: 5px;
  border: 2px solid #2a1d18;
}
::-webkit-scrollbar-thumb:hover {
  background: #795548;
}